.container {
    max-width: 900px;
    margin: auto;
    padding: 10px;
}

.header {
    background-color: gray;
    text-align: left;
}

.items {
    background-color: black;
    color: white;
    text-align: left;
    padding: 10px;
}


.footer {
    max-width: 900px;
    margin: auto;
}