* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f8f3d9;
    color: #504b38;
    display: flex;
    margin: 0;
    justify-content: center;
    align-items: center;
}

.container {
    text-align: center;
    background-color: #ebe5c2;
    padding: 40px;
    border-radius: 8px;
    max-width: 500px;
}

h1 {
    color: #504B38;
}

.button {
    background-color: #b9b28a;
    color: #504B38;
}

.button:hover {
    background-color: #b9b28a;
}